<header>
    <div class="logo">Logo Here</div>
    <div class="nav">
        <ul>
            <li><a href="/">Home</a> </li>
            <li><a href="/secret">Secret</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </div>
</header>